// Light
$light-background-color: #FFF;
$light-offset-color: #c0c0c0;
$light-bold-color: #b20000;
$light-text-color: rgb(22, 22, 22);
$light-link-color: #0070ff;
$light-link-note-color: #1f8f19;
$light-placeholder:transparent;

// Dark Theme
$dark-background-color: #131414;
$dark-offset-color: #858585;
$dark-bold-color: #ffce14;
$dark-text-color: #fff;
$dark-link-color: #78dfff;
$dark-link-note-color: #50ffb0;
$dark-placeholder:transparent;
