<div class="overlay-p"><b>2001</b> My first site with actual users was a dreams site.<br>People would email dreams and I'd update the various pages by hand.</div>
<mat-grid-list cols="1" rowHeight="1454:1142" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/2001-lostdream.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Maintaining a dreams site by <b>manually editing it</b> 😅 forced me to learn how to code.</div>
<div class="overlay-p"><b>2005</b> To learn to code I made a site which let users create websites.<br>
  This was one of my member's sites <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="834:681" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/2005-folionow.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">This was my first experience launching a website with paying users.<br>It was exhausting. The world didn't need another CMS.</div>
<div class="overlay-p"><b>2009</b> At work, I pitched a learning platform idea (Monarch) and executed it to completion.<br>The product is still making millions for the company to this day <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="1100:865" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/monarch.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">We don't have to work on it anymore because it does what it is supposed to. That's my goal now &ndash; to eventually not have to work on stuff because it's <b>done</b>.</div>
<div class="overlay-p">Throughout all of that I didn't actually update my website until 2012.</div>
