<section class="container">
  <h1>Now</h1>
  <p>The development and design worlds are filled with projects. As they appear and improve over time their version numbers increase.</p>
</section>

<section class="container-full">
  <mat-grid-list cols="7" rowHeight="3:2" gutterSize="0" class="level-up">
    <mat-grid-tile>
      <i class="devicon-angularjs-plain hidden_not_in_dark"></i>
      <i class="devicon-angularjs-plain colored hidden_in_dark"></i>
      <div class="lu-number">2.1</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="devicon-apple-original hidden_not_in_dark"></i>
      <i class="devicon-apple-original colored hidden_in_dark"></i>
      <div class="lu-number">2.2</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="devicon-bootstrap-plain hidden_not_in_dark"></i>
      <i class="devicon-bootstrap-plain colored hidden_in_dark"></i>
      <div class="lu-number">4.1</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="devicon-android-plain hidden_not_in_dark"></i>
      <i class="devicon-android-plain colored hidden_in_dark"></i>
      <div class="lu-number">2.3</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <i class="devicon-nodejs-plain hidden_not_in_dark"></i>
        <i class="devicon-nodejs-plain colored hidden_in_dark"></i>
        <div class="lu-number">4.1</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="devicon-docker-plain hidden_not_in_dark"></i>
      <i class="devicon-docker-plain colored hidden_in_dark"></i>
      <div class="lu-number">4.1</div>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<section class="container">
  <p>I like to think of age as our version number. We start at version 0.0.1 and eventually got to <i>now</i>. I think it would be fun to have a <u (click)="openChangeLog();" matTooltip="What's a changelog?" [matTooltipPosition]="'below'">changelog</u> rather than rely on memory.</p>
  <blockquote>
    Do not trust your memory; it is a net full of holes; the most beautiful prizes slip through it. - Georges Duhamel
  </blockquote>
</section>
