<h1>Now</h1>
<p>The development and design worlds are filled with projects. As they appear and improve over time their version numbers increase.</p>
<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>versions</mat-grid-tile>
</mat-grid-list>
<p>I like to think of age as a version number. We start at version 0.0.1 and eventually got to now. It would be fun to have a <u (click)="openChangeLog();" matTooltip="What's a changelog?" [matTooltipPosition]="'below'">changelog</u>. I'd rather have that than rely on memory.</p>
<blockquote>
  Do not trust your memory; it is a net full of holes; the most beautiful prizes slip through it. - Georges Duhamel
</blockquote>
<h3>What now?</h3>
<p>It depends on why you're here. You can read about <a [routerLink]="'/timeline'">features</a> I've acquired over time, read my <a [routerLink]="'/thoughts'">thoughts</a> on things or see <a [routerLink]="'/projects'">projects</a> I've finished. There are also <a [routerLink]="'/about'">contact details</a>.</p>
