<mat-grid-list cols="1" rowHeight="16:9" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/chandler-0.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>

<div class="overlay-p">I loved living in the desert.<br>It was like taking part in a terraforming experiment.</div>
<mat-grid-list cols="1" rowHeight="100:75" gutterSize="4">
    <mat-grid-tile>
      <img src="/assets/photos/places/chandler-1.jpg" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>

<div class="overlay-p">I enjoyed driving to the boundaries of Phoenix to take pictures of the desert.</div>
<mat-grid-list cols="1" rowHeight="100:75" gutterSize="4">
  <mat-grid-tile>
    <img src="/assets/photos/places/chandler-2.jpg" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/photos/places/chandler-3.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>

<div class="overlay-p">My brother still lives in Tempe so part of me is always in the desert.<br>I still love it there.</div>
<div class="overlay-quote">Do you imagine the universe is agitated?<br>Go into the desert at night and look at the stars. - Lao Tzu</div>
