<h1>Features</h1>
<p>Previous versions of me added features like drawing and writing. The idea of the page being blank wasn't there until I got into design.</p>
<mat-grid-list cols="3" rowHeight="1.1:1">
  <mat-grid-tile>drawing</mat-grid-tile>
  <mat-grid-tile>drawing</mat-grid-tile>
  <mat-grid-tile>drawing</mat-grid-tile>
</mat-grid-list>
<p>Once <u (click)="openHypercard();" matTooltip="What's Hypercard?"  [matTooltipPosition]="'above'">Hypercard</u> came out, I began to focus on development. Before the web, I made a <u (click)="openBBS();" matTooltip="What's a BBS?" [matTooltipPosition]="'below'">Wildcat BBS</u> and became a sysop.</p>
<p>These days, I use <u (click)="openFrameworks();" matTooltip="Frameworks? Libraries?" [matTooltipPosition]="'below'">frameworks and libraries</u> to build things. I also like to use cameras. Using cameras is one of my favorite hobbies.</p>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>cameras</mat-grid-tile>
  <mat-grid-tile>photos</mat-grid-tile>
  <mat-grid-tile>video</mat-grid-tile>
  <mat-grid-tile>photos</mat-grid-tile>
</mat-grid-list>
<h2>Feature Forecast</h2>
<p>I am learning about working with real materials like wood and stone. I have not acquired this feature yet, but I plan to in an upcoming version.</p>
<p>When I was a baby in Alaska, I was given a carved wooden totem pole created by one of my parents' friends. I still have it now.</p>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>carved</mat-grid-tile>
  <mat-grid-tile>thing</mat-grid-tile>
</mat-grid-list>
<p>I want to create things that will stand the test of time. Wood and stone seems like a good place to start.</p>
