<section class="container">
  <h1>Features</h1>
  <p>Previous versions of me added features like drawing and writing. The idea of the page being blank wasn't there until I got into design.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="4">
    <mat-grid-tile (click)="showOverlay('old-drawings', 'Drawings', 'Selections of drawings going back to about one years old.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'before'"></mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('old-design', 'Design', 'Selections of design I did going back to about twelve years old.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'below'"></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>Once <u (click)="openHypercard();" matTooltip="What's Hypercard?"  [matTooltipPosition]="'below'">Hypercard</u> came out, I began to focus on development. Before the web, I made a <u (click)="openBBS();" matTooltip="What's a BBS?" [matTooltipPosition]="'below'">Wildcat BBS</u> and became a sysop.</p>
  <p>These days, I use <u (click)="openFrameworks();" matTooltip="Frameworks? Libraries?" [matTooltipPosition]="'below'">frameworks and libraries</u> to build things. I also like to use cameras. Using cameras is one of my favorite hobbies.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="4">
    <mat-grid-tile (click)="showOverlay('my-cameras', 'Cameras', 'I really like cameras. Here are some of the ones I use.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'before'"></mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('film-photos', 'Film Cameras', 'Photos I\'ve taken with film cameras.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'below'"></mat-grid-tile>
    <mat-grid-tile colspan="2" (click)="showOverlay('digital-photos', 'Digital Cameras', 'Photos I\'ve taken with digital cameras.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'below'"></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <h2>Feature Forecast</h2>
  <p>When I was a baby, I was given a carved wooden totem pole created by one of my parents' friends. I still have it now.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="4">
    <mat-grid-tile (click)="showOverlay('walking-stick','Walking Stick','I got this in Alaska when I was born.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'before'"></mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('real-things','Real Items','Some of my attempts to do woodcarving and 3D printing.')" class="view-larger-link" matTooltip="View Larger" [matTooltipPosition]="'below'"></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I want to create things that will stand the test of time. Wood and stone seems like a good place to start.</p>
</section>
<div class="page-end"></div>
