<div class="ds">
  <div class="dp">I looked this up and it said an <b>incorporated city</b> is:</div>
  <div class="dq">&ldquo;a municipality, that is, one with a charter received from the state&rdquo;</div>
  <div class="dp">I'd like to say this is the <b>oldest</b> city west of the Rockies but it's just the first to recieve a charter to become a municipality.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
