<div class="ds">
  <div class="dp"><b>Oregon City</b> is the first &ldquo;incorporated&rdquo; city west of the Rockies. The internet says an incorporated city is:</div>
  <div class="dq">&ldquo;A municipality, that is, one with a charter received from the state.&rdquo; ~ Wikipedia</div>
  <div class="dp">I don't know what they're talking about. I do know the <b>End of the Oregon Trail</b> historic site is here! They have settler clothes you can wear and a hologram of the city's founder who talks to you!</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
