<mat-grid-list cols="1" rowHeight="100:75" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-1.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">We lived at this camp <mat-icon>arrow_upward</mat-icon> until eventually moving into town.<br>
  My parents managed the camp before starting their own business.</div>
<div class="overlay-p">My dad also made comics <mat-icon>arrow_downward</mat-icon> for the local paper.</div>
<mat-grid-list cols="1" rowHeight="1000:1147" gutterSize="4">
    <mat-grid-tile>
        <img src="/assets/photos/places/estes-2.jpg" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
