<mat-grid-list cols="1" rowHeight="1043:850" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-3.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">This is a camp photo of my parents and me <mat-icon>arrow_upward</mat-icon> when we first moved to Estes Park.<br>
  My parents managed the camp before moving to town and starting a business.</div>
<div class="overlay-p">This is me learning about tripods in our house on the camp <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="1200:1011" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-4.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">While in Colorado, my brothers came into the world!<br>First came Thomas (left) and then John (right) <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="2" rowHeight="1:1" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-sq-1.jpg" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-sq-2.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">The trio was complete!<br>Brothers <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="1000:1176" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/estes-7.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
