

<div class="ds">
  <div class="dp"><b>Sophia</b> is a twelve year old singer and artist. She is creative, funny and really smart. Last night we made slime out of glue on the front porch.</div>
  <div class="dp">She took this picture the last time she stole my phone.</div>
</div>
<mat-grid-list cols="1" rowHeight="4:3" gutterSize="4">
    <mat-grid-tile>
      <img src="/assets/photos/sophia.jpg"  class="thumbnail-image">
    </mat-grid-tile>
</mat-grid-list>

<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
