<section class="container">
  <h1>Hello.</h1>
  <p>My name is <b>David Mulhern</b>.<br>There is a good chance we're strangers.</p>
  <h3>Strangers</h3>
  <p>That's probably the point of this site. To let strangers know who I am. So to strangers, I say &ldquo;Hello.&rdquo;</p>
  <h3>Profiles</h3>
  <p>The only service I add content to is Instagram and this. I rarely check Facebook or LinkedIn or anything like that. The best way to contact me is through email (or Instagram).</p>
  <blockquote>
    david@mulhern.me<br>
    <a href="https://www.instagram.com/dcmulhern/" target="_blank">instagram/dcmulhern</a>
  </blockquote>
</section>

<div class="page-end"></div>
