<mat-grid-list cols="1" rowHeight="656:668 " gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/alaska-dad-and-lad.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p"><b>Dad and lad</b> on Prince of Wales island <mat-icon>arrow_upward</mat-icon></div>
<div class="overlay-p">We lived in a log cabin.<br>Here is <b>mom and me</b> on my first birthday <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="802:554 " gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/alaska-0.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Watching my dad draw is one of the first things I saw <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="880:558 " gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/alaska-1.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">The pencil he was using in this photo was given to him by his dad (who was an architect).<br>He gave it to me and I still use it when I draw. It is the most precious item I have.</div>


<div class="overlay-p">My dad was an art teacher there and my mom was a special education teacher.<br>I don't have memories of that time, but it looked like fun.</div>
<mat-grid-list cols="2" rowHeight="1:1 " gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/places/alaska-sq-1.jpg" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/places/alaska-sq-2.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
