<section class="container">
  <h1>Advertising Platforms</h1>
  <h6><b>Saturday</b> March 30th 2019 at 1:06am</h6>
  <p>I have a <a href="https://twitter.com/mulhern" target="_blank">Twitter</a>, an
    <a href="https://www.instagram.com/dcmulhern/" target="_blank">Instagram</a>, a
    <a href="https://medium.com/@davidmulhern" target="_blank">Medium</a> and a
    <a href="https://www.linkedin.com/in/davidmulhern/" target="_blank">Linked-In</a>. These
    <u (click)="openChangeLog();" matTooltip="What's a free platform?" [matTooltipPosition]="'below'">free platforms</u> are where I share announcements, photos and videos.</p>
  <p> I'll start doing posts here too, one day.</p>
  <blockquote>I live in Oregon. I was born in
    <u (click)="showOverlay('place-ketchikan', 'Version 0.0', 'It all started on an island in Alaska.')" class="view-larger-link" matTooltip="Where?" [matTooltipPosition]="'below'" matTooltip="Where?" [matTooltipPosition]="'below'">Ketchikan</u>. I grew up in
    <u (click)="showOverlay('place-estes', 'Growing Up', 'My childhood memories take place in Estes Park, Colorado.')" class="view-larger-link" matTooltip="Where?" [matTooltipPosition]="'below'" matTooltip="Where?" [matTooltipPosition]="'below'">Estes Park</u> and
    <u (click)="showOverlay('place-chandler', 'Chandler, Arizona', 'A city nestled between an Indian Reservation and Tempe.')" class="view-larger-link" matTooltip="What's a Chandler?" [matTooltipPosition]="'below'" matTooltip="What's a Chandler?" [matTooltipPosition]="'below'">Chandler</u>.
    I live with
    <u (click)="openNoelle();" matTooltip="Who?" [matTooltipPosition]="'below'">Noelle</u>,
    <u (click)="openSophia();" matTooltip="Who?" [matTooltipPosition]="'below'">Sophia</u> and <u (click)="openSherlock();" matTooltip="Animals you say!?" [matTooltipPosition]="'below'">our animals</u>. We also sometimes have thousands of bees.
  </blockquote>
</section>
<mat-divider></mat-divider>
<section class="container">
  <h1>Old Libraries</h1>
  <h6><b>Saturday</b> June 9th 2018 at 11:59pm</h6>
  <p>The last time I made this site, I used a template. I focused on the <u (click)="openFrameworks();" matTooltip="What?" [matTooltipPosition]="'below'">libraries</u> I was using. Before that, this site was about projects.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="3" rowHeight="5:4" gutterSize="4">
    <mat-grid-tile (click)="showOverlay('old-sites', '2012', 'Six years ago I was focused on development.')" class="view-larger-link" matTooltip="2012" [matTooltipPosition]="'before'">
      <img src="/assets/photos/old-sites/two-one-thumb.jpg" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('old-sites-one', '2001-2011', 'Making sites in the early internet.')"  class="view-larger-link" matTooltip="2001-2011" [matTooltipPosition]="'above'">
      <img src="/assets/photos/old-sites/cloud-thumb.png" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('old-sites-zero', '1999', 'Here are some screenshots of version <b>one</b> of this site.')" class="view-larger-link" matTooltip="1999" [matTooltipPosition]="'above'">
      <img src="/assets/photos/old-sites/zero-thumb.png" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
  <p>All of that has been replaced by what you see now.</p>
</section>
<mat-divider></mat-divider>
<section class="container">

  <h1>Into the Sun</h1>
  <h6><b>Wednesday</b> October 3rd 2007 at 10:03am</h6>
  <p>This is my children's book about a guy who makes a rocket ship and flies into the sun. Take into consideration that I lived in the middle of the desert when I made this.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0" (click)="showOverlay('into-the-sun', 'Into the Sun', 'Still working on this one..')" class="view-larger-link" matTooltip="View" [matTooltipPosition]="'before'">
    <mat-grid-tile>
      <img src="/assets/photos/into-sun/thumb-3.gif" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img src="/assets/photos/into-sun/page-11.gif" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I think it's about using devices as distractions when the world outside is beautiful or something like that. It's not finished &mdash; I would, but I'm too busy being distracted by devices.</p>
</section>
<mat-divider></mat-divider>
<section class="container">
  <h1>Red Time</h1>
  <h6><b>Sunday</b> June 4th 2006 at 10:03am</h6>
  <p>I love seeing the whole day on a single dial. To me, seeing all the minutes at once is comforting. Half of them aren't missing.</p>
  <p>Here are some clocks I designed.<br>Noon is at top and midnight is at the bottom.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5">
    <mat-grid-tile>
      <img src="/assets/photos/clock-3-small.jpg" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/photos/clock-2-small.jpg" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>Sonipa Red Time was the brand I made up for clock related projects. I only made a few and gave them all away. &ldquo;Ellwood&rdquo; (on the red clock) is my dad's middle name. I made that one for him.</p>
</section>

<div class="page-end"></div>
