<!-- First Post -->
<section class="container">
  <h1>Old Libraries</h1>
  <h6><b>Saturday</b> June 9th, 2018 at 11:59 PM</h6>
  <p>The last time I did this site, I used a template and talked about jQuery way too much. It was 2012.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="3" rowHeight="10:8" gutterSize="4">
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I've realized that I don't update this site fast enough to keep up with how fast technologies fall in and out of favour. This time around I'll focus on <b>who I am</b> rather than which <u>libraries</u> I've learned.</p>
  <blockquote>
    You can click on the <span class="hidden_sunny">moon</span><span class="hidden_dark">sun</span>
  </blockquote>
</section>
<div class="page-end"></div>
