<!-- First Post -->
<section class="container">
  <h1>Old Libraries</h1>
  <h6><b>Saturday</b> June 9th, 2018 at 11:59 PM</h6>
  <p>The last time I made this site, I used a template and talked about jQuery way too much. It was 2012.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="5:4" gutterSize="4">
    <mat-grid-tile (click)="showOverlay('old-sites', '2012', 'Six years ago I was focused on development.')" class="view-larger-link" matTooltip="2012" [matTooltipPosition]="'before'">
      <img src="/assets/photos/old-sites/two-one-thumb.jpg" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile (click)="showOverlay('old-sites-zero', '1999', 'Here are some screenshots of version <b>one</b> of this site.')" class="view-larger-link" matTooltip="1999" [matTooltipPosition]="'above'">
      <img src="/assets/photos/old-sites/zero-thumb.png" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>Technologies fall in and out of favour. This time around I'll focus on <a [routerLink]="'/about'">who I am</a> rather than the libraries I'm using.</p>
  <blockquote>
    You can click on the <span class="hidden_sunny">moon</span><span class="hidden_dark">sun</span>
  </blockquote>
</section>
<div class="page-end"></div>
