<section class="container">
  <br><br>
  <mat-grid-list cols="1" rowHeight="816:239" gutterSize="0">
    <mat-grid-tile>
      <img src="/assets/img/griegos.png">
    </mat-grid-tile>
  </mat-grid-list>

  <h2>Meat Choices</h2>
  <p><b>Sizzling Ground Beef</b> Local, fresh ground beef slowly cooked in our secret spices to perfection.</p>
  <p><b>Griego's Gyro</b> Our house-made Gyro meat contains fresh American beef, organic vegetables and carefully selected spices.</p>
  <p><b>Shredded Carne</b> Marbled beef slow cooks overnight in our spiced-broth before being cast onto an iron skillet.</p>
  <p><b>Bacon</b> Fresh, locally sourced, organic bacon griddled to perfection.</p>

  <h2>Dishes</h2>
  <p><b>Pitacos</b> Three house-made authentic Greek pitas containing your choice of meat and melted cheese.</p>
  <p><b>Pitarito</b> A larger, thinner Greek pita burrito wrapped around your choice of meat and melted cheese.</p>
  <p><b>Carne Plato</b> Your choice of meat put on a plate with nothing else. Also known as all Sophia wants to order lately.</p>
  <p><b>Carne Plato Supreme</b> The Carne Plato with a toasted bun, melted cheese and toppings of your choice.</p>
  <p><b>Griddled Cheese</b> Our take on the grilled-cheese sandwich. Your choice of meat on request.</p>

  <h2>Breakfast</h2>
  <p><b>Breakfast Pitacos</b> Three pitacos with your choice of meat, two eggs your way and your choice of cheese.</p>
  <p><b>Breakfast Pitarito</b> A large, warm pita-burrito with your choice of meat, Greektown tots or hasbrowns, two eggs your way and your choice of melted cheese.</p>
  <p><b>American Breakfast</b> Two eggs your way, the meat of your choice. Served with Greektown Tots or Hash Browns.</p>

  <h2>Warm Sides</h2>
  <p><b>Greektown Tots</b> House-made tator tots made with our signature Greexican™ spices. Lightly sprinkled with tiny pieces of our jalapeño-feta cheese.</p>
  <p><b>Hash Browns</b> House-made hashbrowns sprinkled with tiny pieces of our jalapeño-feta cheese while cooking.</p>
  <p><b>Bean Dip</b> Warm, house-made refriend bean dip with Greek and Mexican spices.</p>

  <h2>Cool Sides</h2>
  <p><b>Griego's Dip</b> Cool and creamy garlic dip.</p>
  <p><b>Griego's Hummus</b> House-made hummus with a kick.</p>
  <p><b>Smoked Tzatziki</b> A smoky and creamy dip.</p>

  <h2>Baked Sides</h2>
  <p><b>Chips</b> A house-made corn & flour chip you can't find anywhere else.</p>
  <p><b>Pitarillos</b> A combination of the tortilla and the pita.</p>

</section>
<div class="page-end"></div>
