<div class="ds">
  <div class="dh1">Bulletin Board Systems</div>
  <div class="dp">This is a computer server running software that allows users to connect to the system using a terminal program. Once logged in, the user can perform functions such as uploading and downloading software and data, reading news and bulletins, and exchanging messages with other users through email, public message boards, and sometimes via direct chatting.</div>
  <div class="dp">Many BBSes also offer online games in which users can compete with each other, and BBSes with multiple phone lines often provide chat rooms, allowing users to interact with each other.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
