<div class="ds">
  <div class="dp">A BBS is like a pre-internet website. People would use their <b>modems</b> to call your BBS's phone number. Once connected, they'd see your site.</div>
  <div class="dp">Many of the features you see in websites existed back then. The person who created and ran the BBS was the &ldquo;sysop&rdquo; or system operator.</div>
  <div class="dp">Wildcat was the program I used to manage my BBS. I was a kid living with my parents so the incoming modem calls were not convenient. <b>The internet is way better.</b></div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
