<div class="ver">v3</div>
<div class="menu">
  <a [routerLink]="['/now']" routerLinkActive="this">Now</a><br>
  <a [routerLink]="['/changelog']" routerLinkActive="this">Changelog</a><br>
  <a [routerLink]="['/features']" routerLinkActive="this">Features</a><br>
  <a [routerLink]="['/projects']" routerLinkActive="this">Projects</a><br>
  <a [routerLink]="['/thoughts']" routerLinkActive="this">Thoughts</a><br>
  <a [routerLink]="['/about']" routerLinkActive="this">About</a>
</div>
<section class="container">
  <router-outlet></router-outlet>
</section>
