<section class="container">
  <h1>Clocks</h1>
  <h6>Created by <a [routerLink]="'/about'">David</a></h6>
  <p>I love seeing the whole day on a single dial. To me, seeing all the minutes at once is comforting. Half of them aren't missing.</p>
  <p>Here is a clock I designed in 2006.<br>Noon is up top and midnight is at the bottom.</p>
  <mat-grid-list cols="1" rowHeight="1:1" gutterSize="4">
    <mat-grid-tile>
        <img src="/assets/photos/clock-1-small.jpg" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>

<div style="width:80px; height:120px;"></div>

<section class="container">
  <h1>Into the Sun</h1>
  <h6>Created by <a [routerLink]="'/about'">David</a></h6>
  <p>This is my children's book about a guy who makes a rocket ship and flies into the sun. Take into consideration that I lived in the middle of the desert when I made this. Shade was a big deal out there to me.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="4:3" gutterSize="4">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I think it's about using devices as distractions when the world outside is beautiful or something like that. It's not finished - I would, but I'm busy being distracted by devices.</p>
</section>

<div style="width:80px; height:120px;"></div>

<section class="container">
  <h1>Card #1</h1>
  <h6>Created by <a [routerLink]="'/about'">David</a></h6>
  <p>I like to make cards. I've been making cards since I was three. That first card announced the birth of my new brother. I drew the picture and my dad did the design and publishing.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="4:3" gutterSize="4">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>

<div class="page-end"></div>
