<section class="container">
  <h1>Monarch</h1>
  <p>For me, Monarch was a big deal. It was my first epxerience creating an online project from pitch to production. It is a subscription service which has been profitable for years.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="3" rowHeight="4:3" gutterSize="10">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>

<div style="width:80px; height:120px;"></div>

<section class="container">
  <h1>Into the Sun</h1>
  <p>My children's book about a guy who makes a rocket ship and flies into the sun. Take into consideration that I lived in the middle of the desert when I made this. The stuff about shade was from the fact I was sitting in it while writing and drawing.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="4:3" gutterSize="10">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I think it's about using devices as distractions when the world outside is beautiful or something like that. I'm actually not sure because I'm distracted by devices.</p>
</section>

<div style="width:80px; height:120px;"></div>

<section class="container">
  <h1>Cards</h1>
  <p>I like to make cards. I've been making cards since I was three. That first card announced the birth of my new brother. I drew the picture and my dad did the design and publishing.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="4:3" gutterSize="10">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</section>

<div class="page-end"></div>
