<section class="container">
  <h1>Into the Sun</h1>
  <p>This is my children's book about a guy who makes a rocket ship and flies into the sun. Take into consideration that I lived in the middle of the desert when I made this.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0" (click)="showOverlay('into-the-sun', 'Into the Sun', 'Still working on this one..')" class="view-larger-link" matTooltip="View" [matTooltipPosition]="'before'">
    <mat-grid-tile>
      <img src="/assets/photos/into-sun/thumb-3.gif" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img src="/assets/photos/into-sun/page-11.gif" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>I think it's about using devices as distractions when the world outside is beautiful or something like that. It's not finished &mdash; I would, but I'm too busy being distracted by devices.</p>
</section>
<div class="the-seperator"></div>

<section class="container">
  <h1>Red Time</h1>
  <p>I love seeing the whole day on a single dial. To me, seeing all the minutes at once is comforting. Half of them aren't missing.</p>
  <p>Here are some clocks I designed.<br>Noon is at top and midnight is at the bottom.</p>
</section>
<section class="container-full">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5">
    <mat-grid-tile>
      <img src="/assets/photos/clock-3-small.jpg" class="thumbnail-image" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/photos/clock-2-small.jpg" class="thumbnail-image" />
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="container">
  <p>Sonipa Red Time was the brand I made up for clock related projects. I only made a few and gave them all away. &ldquo;Ellwood&rdquo; (on the red clock) is my dad's middle name. I made that one for him.</p>
</section>
<div class="page-end"></div>
