<h1>Timeline</h1>
<p>Previous versions of me added features like drawing and writing.</p>
<h3>Drawing &amp; Writing</h3>
<p>The idea of the page being blank wasn't there until I got into design.</p>
<h3>Photography &amp; Video</h3>
<p>I have done video as a day job but never photography. Photography is my favourite way to capture things.</p>
<h3>Design &amp; Development</h3>
<p>I started in design but moved to development over time. My current day job is to do both.</p>
<h3>Wood &amp; Stone</h3>
<p>Making real things things is my passion.</p>
<blockquote>I haven't aquired this feature yet so I don't have anything worth showing. One day I will though!</blockquote>
