<h1>Features</h1>
<p>Previous versions of me added features like drawing and writing. The idea of the page being blank wasn't there until I got into design.</p>
<mat-grid-list cols="3" rowHeight="1.1:1">
  <mat-grid-tile>drawing</mat-grid-tile>
  <mat-grid-tile>drawing</mat-grid-tile>
  <mat-grid-tile>drawing</mat-grid-tile>
</mat-grid-list>
<p>Once <u (click)="openHypercard();" matTooltip="What's Hypercard?"  [matTooltipPosition]="'after'">Hypercard</u> came out, I started focusing on development. Before the web, I spun up a <u (click)="openBBS();" matTooltip="What's a BBS?" [matTooltipPosition]="'after'">Wildcat BBS</u> and became a sysop. These days, I use <u (click)="openFrameworks();" matTooltip="Frameworks?" [matTooltipPosition]="'below'">frameworks</u> to build things.</p>
<p>I also like to use cameras. That's one of my favorite hobbies.</p>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>cameras</mat-grid-tile>
  <mat-grid-tile>photos</mat-grid-tile>
  <mat-grid-tile>video</mat-grid-tile>
  <mat-grid-tile>photos</mat-grid-tile>
</mat-grid-list>
