

<div class="ds">
  <div class="dp"><b>Noelle</b> is the love of my life. She's a writer and artist. I met her while doing freelance for a design company she co-founded in Portland.</div>
  <div class="dp">I found this gif on <a href="https://dearbird.com/" target="_blank">one</a> of her websites, so I'm pretty sure I can use it.</div>
</div>
<mat-grid-list cols="1" rowHeight="300:169" gutterSize="4">
  <mat-grid-tile>
    <img src="/assets/photos/noelle.gif"  class="thumbnail-image">
  </mat-grid-tile>
</mat-grid-list>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
