<h1>Changelog</h1>
<p>A list of notable versions. Click on the row to display issues for that version. You will find <mat-icon>fiber_new</mat-icon> New Features and <mat-icon>bug_report</mat-icon> Bug Fixes.</p>
<mat-accordion>
  <!-- Version 39 -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>Version 3.9</mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Learned how to photograph stars</mat-expansion-panel-header>
        I always wanted to capture stars without the streak that comes from the earth spinning. I finally learned how to do this.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Became a designer again</mat-expansion-panel-header>
        For the past decade, I've viewed design as something that had become commoditized and not worth pursuing.
        I don't feel that way any more. My day job is now UX/UI with a sprinkle of development thrown in for good measure.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Learned modern Angular</mat-expansion-panel-header>
        Years ago I started in AngularJS. I now work in the newer versions (2-6) and do so at work and home.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>bug_report</mat-icon> Fixed writer's block</mat-expansion-panel-header>
        I haven't written or drawn much lately. Everything I've created has been for a company. Working on this site has helped me push beyond that and start publishing for myself again.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>bug_report</mat-icon> Rewrote internal dialogue</mat-expansion-panel-header>
        People I know are really nice. The naysayer is my own mind. I've spent a few years rewriting this dialogue and it seems to be working. We'll see how it goes in production.
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 3.8</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 3.7</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 3.3</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 3.2</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 2.4</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Version 1.2</mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
