<section class="container" style="padding-bottom:80px;">
  <h1>Changelog</h1>
  <div style="padding:0px 20px 10px 20px"><p><mat-icon>fiber_new</mat-icon> New Features <mat-icon style="margin-left:15px">bug_report</mat-icon> Bug Fixes</p></div>
  <mat-accordion>
    <!-- Version 39 -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>Version 3.9</mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Learned how to photograph stars</mat-expansion-panel-header>
          I have always wanted to capture stars without the streak that comes from the earth spinning. I finally learned how to do this.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Became a designer again</mat-expansion-panel-header>
          For the past decade, I've viewed design as something that had become commoditized and not worth pursuing.
          I don't feel that way any more.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Learned Sketch</mat-expansion-panel-header>
          Switching to design meant learning Sketch. I really like it!
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Learned modern Angular</mat-expansion-panel-header>
          Years ago I started in AngularJS. I now work in the modern version.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>bug_report</mat-icon> Fixed writer's block</mat-expansion-panel-header>
          I haven't written or drawn much lately. Everything I've created has been for a company. Working on this site has helped me push beyond that and start publishing for myself again.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>bug_report</mat-icon> Rewrote internal dialogue</mat-expansion-panel-header>
          People I know are really nice. The naysayer is my own mind. I've spent a few years rewriting this dialogue and it seems to be working. We'll see how it goes in production.
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <!-- Version 39 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>Version 3.2</mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> MVC, ORM, API</mat-expansion-panel-header>
          These days it's about frameworks. Zend, Spring, Symphony, CodeIgnitor - I can now work with whatever is being used. I'm also working with SOAP APIs, ESBs, JAVA, and .NET. It's a Languagepalooza!
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header><mat-icon>fiber_new</mat-icon> Entity Relationship Diagrams</mat-expansion-panel-header>
          I so much enjoy creating these. Doing this is fun to me.
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</section>
