<div class="ds">
  <div class="dp">There was a program on our old Apple computer called <b>Hypercard</b>. With it, I could make things happen when the user provided input. I could make artwork part of something <b>interactive</b>.</div>
  <div class="dp">After Hypercard, I moved to Macromedia Director. Director led to Flash. It was the trifecta of obsolete interactive authoring tools from the olden days.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
