<div class="ds">
  <div class="dh1">Hypercard</div>
  <div class="dp">There was a program on our old Apple computer called Hypercard. With it, I could make things happen when the user provided input. It gave purpose to artwork because it could be part of something <b>interactive</b>. Hypercard sparked my interest in interactive development.</div>
  <div class="dp">After Hypercard, I moved to Macromedia Director. Director led to Flash. It was the trifecta of obsolete interactive authoring tools from the olden days.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
