<mat-grid-list cols="1" rowHeight="1425:949" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-a.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">I was targeting IE!? Wait, I was using Frontpage.. nevermind it makes sense now.<br>That landing page was later replaced by this one <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-b.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Clicking &ldquo;Truth&rdquo; led to another landing page <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-c.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Which led to (three) photos I took while on a walk that day.</div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-d.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>

<div class="overlay-p">If you had gone to &ldquo;Creations&rdquo; you'd be led to this <mat-icon>arrow_downward</mat-icon></div>
<mat-grid-list cols="1" rowHeight="546:416" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/creation.gif" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>

<div class="overlay-p">Which led to so <b>six mini-sites</b>. So many sites.<br>That was almost 20 years ago.</div>
