<mat-grid-list cols="1" rowHeight="1425:949" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-a.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">In the very first version, I was targeting IE!?<br>
  That landing page was later replaced by this one:</div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-b.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Clicking &ldquo;Truth&rdquo; led to another landing page:</div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-c.png" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Which led to photos I took while on a walk that day.</div>
<mat-grid-list cols="1" rowHeight="5:4" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/zero-d.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">That was 20 years ago!<br>Crazy how time flies.</div>
