<div class="ds">
  <div class="dh1">&ldquo;changelog&rdquo;</div>
  <div class="dp">A list of important changes made to a project over time. In software, this means you get a list of bug fixes and new features going back to the start of the project.</div>
  <div class="dp">For the project of life, learning to read would be a new feature.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
