<mat-grid-list cols="1" rowHeight="1866:1174" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/two-one-b.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Hopefully I made it clear I was a developer.</div>
<div class="overlay-p">It was the first &amp; last time I used a template for this site.</div>
<mat-grid-list cols="1" rowHeight="1503:1271" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/two-one-a.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Looking back, I like the about page.</div>
<mat-grid-list cols="1" rowHeight="1796:2093" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/old-sites/two-one-c.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
