/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700);

.material-icons {
vertical-align: text-bottom;
}
.mat-expansion-panel-header .material-icons {
font-size:20px;
}

html {
font-size:16px;
}

body,
.ds {
font-family: 'Lora', serif;
font-size: 1rem;
font-weight:400;
margin:0px;
background:#fff;
}
.ds {
background:transparent;
}
.mat-bottom-sheet-container-medium .ds {
max-width: 44rem;
}
.mat-bottom-sheet-container-large .ds,
.mat-bottom-sheet-container-xlarge .ds {
max-width: 35rem;
}
.mat-list-text {
  text-align: center;
}


a, u {
color: #0645ad;
cursor: pointer;
text-decoration: none;
}
u:hover,
a:hover {
color: #0645ad;
text-decoration: underline;
}
u {
  color:#ad2e06;
}
u:hover {
  color:#ad2e06;
}

b {
font-weight:700;
}

h1,
.dh1,
h2,
h3 {
font-weight:700;
}

h1,
.dh1 {
font-size:2.6rem;
line-height:2.8rem;
margin:2rem 0 2rem 0;
font-style: italic;
}
.dh1 {
padding:20px 20px 0px 20px;
margin: 0;
line-height:2.8rem;
}
.mat-bottom-sheet-container {
padding:0px !important;
}

h2 {
font-size:1.6rem;
line-height:1.9rem;
margin:3.5rem 0 1.5rem 0;
}
h3 {
font-size:1.3rem;
line-height:1.5rem;
margin:3rem 0 1.3rem 0;
}

p,
.dp {
font-size:1.2rem;
line-height:1.9rem;
margin:1rem 0;
}
.dp {
padding: 8px 20px 8px 20px;
}

blockquote {
font-size:1.1rem;
line-height:1.9rem;
margin:2rem 0.5rem 2rem 2.5rem;
padding:1rem;
padding-left: 2.5rem;
border-left:#ccc 0.3rem solid;
font-style: italic;
}

input {
font-family: 'Lora', serif;
font-size: 1.4rem;
font-weight:400;
text-align: center;
border:none;
border-bottom: 4px solid #ccc;
}
.example_age {
width:40px;
}
.example_name {
width:140px;
}

.container {
max-width: 40rem;
min-width: 25rem;
margin: 1rem 0 1rem 13vw;
padding: 0 6rem;
padding-bottom:3rem;
overflow:hidden;
background:blue;
background:#fff;
}
.ver {
position: fixed;
top: 0px;
padding:14px;
font-size:.9rem;
font-style: italic;
overflow:hidden;
color:#9E9E9E;
}
.menu {
position: fixed;
top: 100px;
width:7rem;
font-size:1.3rem;
line-height:2.4rem;
font-weight:700;
}
  .menu a {
  text-decoration: none;
  padding-left:14px;
  }
  .menu a {
  color:#000;
  }
  .menu a:hover {
  color:#000;
  text-decoration: underline;
  }
  .menu a.this,
  .menu a:hover.this {
  color:#9E9E9E;
  font-style: italic;
  text-decoration: none;
  cursor: default;
  border-left:4px #9E9E9E solid;
  padding-left:10px;
  }

  .mat-grid-tile {
  color:#FFFFFF;
  background: #9E9E9E;
  opacity: 0.5;
  cursor: pointer;
  }
  .mat-grid-tile:hover {
  opacity: 0.7;
  }
