<mat-grid-list cols="1" rowHeight="2:1" gutterSize="4">
  <mat-grid-tile>
      <div class="dptxt" style="top:5%;left:5%;">One winter morning,<br>while the city was sleeping..</div>
      <div class="dptxt">I followed a path<br>out into the world.</div>
      <img src="/assets/photos/into-sun/page-1.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="dptxt" style="top:5%;left:5%;">I the wonder<br>and into the wild.</div>
      <div class="dptxt" style="top:5%;left:55%;">If felt the warm sun<br>on my face..</div>
      <div class="dptxt" style="bottom:5%;right:5%;">so I smiled.</div>
      <img src="/assets/photos/into-sun/page-2.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-3.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-4.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-5.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-6.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-7.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-8.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-9.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-10.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-11.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-12.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-13.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-14.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-15.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-16.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-17.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-18.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-19.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-20.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/last-page.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
