<mat-grid-list cols="1" rowHeight="2:1" gutterSize="0">
  <mat-grid-tile>
    <div class="dptxt" style="top:5%;left:5%;">One winter morning<br>the city was sleeping</div>
    <div class="dptxt" style="top:30%;">I followed a path<br>out into the world</div>
    <img src="/assets/photos/into-sun/page-1.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="dptxt" style="top:5%;left:5%;">into the wonder<br>into the wild</div>
    <div class="dptxt dptxt-brown" style="top:3%;left:53%;">I felt the warm sun<br>on my face</div>
    <div class="dptxt dptxt-brown" style="bottom:5%;right:4%;">so I smiled!</div>
    <img src="/assets/photos/into-sun/page-2.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="dptxt" style="left:2%;">I came to a tree..<br>a GIANT oak tree</div>
    <div class="dptxt" style="left:12%; bottom: 5%; text-align: center;">In its shade was a hole..</div>
    <div class="dptxt" style="top:20%; left:65%; text-align: center;">In the hole was<br>a someone!</div>
    <img src="/assets/photos/into-sun/page-3.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="dptxt" style="top:15%;left:5%;">What are you doing<br>down in that hole?</div>
    <img src="/assets/photos/into-sun/page-4.gif" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">I have text written for the rest of this but I don't have time to add it to the site just yet.</div>
<div class="overlay-p"><b>What happens next:</b></div>
<div class="overlay-ul">
  <div class="overlay-li">The guy in the hole is working on a project (a rocket) to prove that the sun isn't real.</div>
  <div class="overlay-li">The main character is trying to show him that the sun is obviously real.</div>
  <div class="overlay-li">The conversation leads the main character to question whether the sun is just an illusion.</div>
  <div class="overlay-li">That same night, the guy in the hole confronts the fact that it is very real by flying into it.</div>
</div>
<div class="overlay-p">I think it's about how nature will devour you regardless of what you believe.</div>
<mat-grid-list cols="1" rowHeight="2:1" gutterSize="0">
  <mat-grid-tile>
    <img src="/assets/photos/into-sun/page-5.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/photos/into-sun/page-6.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/photos/into-sun/page-7.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/photos/into-sun/page-8.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-9.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-10.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-11.gif" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p"><mat-icon>arrow_upward</mat-icon> I drew these in a <b>vector-based format</b> so it can be scaled to any size.</div>
<div class="overlay-p"><mat-icon>arrow_downward</mat-icon> The <b>rough draft</b> was a mixture of sketches and 3D models.</div>
<mat-grid-list  cols="1" rowHeight="2:1" gutterSize="0">
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-12.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-13.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-14.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-15.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-16.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-17.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-18.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-19.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
      <img src="/assets/photos/into-sun/page-20.gif" class="thumbnail-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/photos/into-sun/last-page.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p"><mat-icon>arrow_upward</mat-icon> If it was animated he'd slowly disappear into the sun.</div>
<div class="overlay-p">So, yeah. Not the happiest ending.<br>If I was a writer this would make more sense/be a different story</div>
