<mat-grid-list cols="1" rowHeight="3:2" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/0221181110a.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">Snow is a rare event around here.</div>
<mat-grid-list cols="1" rowHeight="3:2" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/0221181110.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay-p">I took photos and walked around. It was super quiet.<br>
  I love the handful of snowy days we get.</div>
  <div class="overlay-p">Here is one photo I took that day.<br>This little waterfall marks the edge of our backyard.</div>
<mat-grid-list cols="1" rowHeight="1470:2219" gutterSize="4">
  <mat-grid-tile>
      <img src="/assets/photos/R0003343.jpg" class="thumbnail-image" />
  </mat-grid-tile>
</mat-grid-list>
