<div class="ds">
  <div class="dh1">frameworks &amp; libraries</div>
  <div class="dp">When you're making an app, <b>libraries</b> help speed things up by providing features you don't have to code yourself. When a library falls out of fashion, usually it can be replaced with something else.</div>
  <div class="dp">A <b>framework</b> goes further, allowing you to start an app with many of the difficult decisions already made. It's like you're 30% done on day one. From that day forward, you have to work within the framework. When a framework falls out of fashion you get to start over.</div>
</div>
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Close</span>
  </a>
</mat-nav-list>
